/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #000;
    background-color: #fff;
    font-family: 'Dongle', sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #8f8f8f;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #39dda8;
    border: none;
    color: #fff;
    border-radius: 12px;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #2eb78a;
}

button:disabled {
    cursor: default;
    background: #2eb78a;
}

/* Join Page Styles */

.centered-form {
    background-image: linear-gradient(#FFD500, #00D1FF);
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
    border-radius: 12px;
}

.centered-form__box h1 {
    color: black;
    line-height: 1;
    font-size: 40px;
}

.centered-form button {
    width: 100%;
    border-radius: 8px;

}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 0 16px #e7eced;
}

#join-description {
    color: #8f8f8f;
    font-weight: 300;
    padding: 0;
    margin: 0 0 16px;
    line-height: 1;
    font-size: 22px;
    line-height: 1;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #21252A;
    background-image: linear-gradient(#FFD500, #00D1FF);
    width: 35%;
    overflow-y: scroll
}

.logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 12px;
}

.logo img {
    width: 25%;
    height: 100%;
    flex-grow: 2;
    max-width: 80px;
}

.logo h1 {
    font-size: 48px;
    margin: auto 12px;
    padding-right: 12px;
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;
}

.message__name {
    font-weight: 300;
    font-size: 24px;
    margin-right: 8px;
}

.message__content {
    background-color: #E9D516;
    font-size: 22px;
    font-weight: 300;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 0px 12px 12px 12px;
}

.message__meta {
    color: #B7B7B7;
    font-size: 24px;
    font-weight: 300;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B7B7B7;
    opacity: 1; /* Firefox */
  }

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #e7eced;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
    background-color: #fff;
    color: #000;
    border-radius: 12px;
    box-shadow: 0 0 16px #e7eced;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 500;
    font-size: 28px;
    color: #000;
    padding: 20px;  
    margin-top: 14px; 
}

.list-title {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    font-size: 28px;
    padding: 12px 24px 0 24px;
}